<footer class="Footer">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="FooterItem">

                    <ul>

                        <li><p>© 2022 Gita Omri Brown</p></li>
                        {% for link in linklists.footer-menu.links %}
                            {% assign child_list_handle = link.title | handleize %}
                            {% if linklists[child_list_handle].links != blank %}
                                <li>
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                    <ul class="subMenu">
                                        {% for childlink in linklists[child_list_handle].links %}
                                            <li>
                                                <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <a href="https://facebook.com/{{ settings.facebook_username }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://instagram.com/{{ settings.instagram_username }}" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</footer>