<section class="Logo">

    <div class="container">

        <!-- DesktopMenu -->
        <div class="DesktopMenu">

            <div class="row">

                <!-- Logo -->
                <div class="col-lg-12">

                    <div class="logoImg">

                        <a href="/">{{ 'logo.jpg' | asset_url | img_tag: 'The Soap Store' }}</a>

                        <div class="Bag">
                            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                {{ 'shopping-bag.png' | asset_url | img_tag: 'The Soap Store' }}
                                <span>0</span>
                            </button>

                        </div>

                        <!-- RightSideBar -->
                        <div class="RightSideBar">

                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

                                <div class="offcanvas-header">
                                    <button type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fas fa-chevron-right"></i></button>
                                    <h5>Cart</h5>
                                </div>

                                <div class="offcanvas-body">

                                    <!-- product Item -->
                                    <div class="RightSideBarCart">

                                        <!-- item -->
                                        <div class="RightSideBarItem">

                                            <div class="img">
                                                <a href=""><img src="frontend_assets/images/img1.webp" alt=""></a>
                                            </div>

                                            <div class="text">
                                                <h5>BOWTIE NECK</h5>
                                                <h5>BLOUSE W/ PEPLUM</h5>
                                                <p>$234.00</p>

                                                <div class="input">
                                                    <div class="minus"><img src="frontend_assets/images/minus.png" alt=""></div>
                                                    <input type="text" name="" id="">
                                                    <div class="plus"><img src="frontend_assets/images/plus.png" alt=""></div>
                                                </div>

                                            </div>

                                            <div class="closeHover">
                                                <img src="frontend_assets/images/close.png" alt="">
                                            </div>

                                        </div>

                                        <!-- item -->
                                        <div class="RightSideBarItem">

                                            <div class="img">
                                                <a href=""><img src="frontend_assets/images/img2.webp" alt=""></a>
                                            </div>

                                            <div class="text">
                                                <h5>BOWTIE NECK</h5>
                                                <h5>BLOUSE W/ PEPLUM</h5>
                                                <p>$234.00</p>

                                                <div class="input">
                                                    <div class="minus"><img src="frontend_assets/images/minus.png" alt=""></div>
                                                    <input type="text" name="" id="">
                                                    <div class="plus"><img src="frontend_assets/images/plus.png" alt=""></div>
                                                </div>

                                            </div>

                                            <div class="closeHover">
                                                <img src="frontend_assets/images/close.png" alt="">
                                            </div>

                                        </div>

                                        <!-- item -->
                                        <div class="RightSideBarItem">

                                            <div class="img">
                                                <a href=""><img src="frontend_assets/images/img1.webp" alt=""></a>
                                            </div>

                                            <div class="text">
                                                <h5>BOWTIE NECK</h5>
                                                <h5>BLOUSE W/ PEPLUM</h5>
                                                <p>$234.00</p>

                                                <div class="input">
                                                    <div class="minus"><img src="frontend_assets/images/minus.png" alt=""></div>
                                                    <input type="text" name="" id="">
                                                    <div class="plus"><img src="frontend_assets/images/plus.png" alt=""></div>
                                                </div>

                                            </div>

                                            <div class="closeHover">
                                                <img src="frontend_assets/images/close.png" alt="">
                                            </div>

                                        </div>

                                        <!-- item -->
                                        <div class="RightSideBarItem">

                                            <div class="img">
                                                <a href=""><img src="frontend_assets/images/img2.webp" alt=""></a>
                                            </div>

                                            <div class="text">
                                                <h5>BOWTIE NECK</h5>
                                                <h5>BLOUSE W/ PEPLUM</h5>
                                                <p>$234.00</p>

                                                <div class="input">
                                                    <div class="minus"><img src="frontend_assets/images/minus.png" alt=""></div>
                                                    <input type="text" name="" id="">
                                                    <div class="plus"><img src="frontend_assets/images/plus.png" alt=""></div>
                                                </div>

                                            </div>

                                            <div class="closeHover">
                                                <img src="frontend_assets/images/close.png" alt="">
                                            </div>

                                        </div>

                                    </div>

                                    <!-- subtotal -->
                                    <div class="subtotal">

                                        <h4>Subtotal</h4>
                                        <h5>$1,185.00</h5>

                                    </div>

                                    <!-- viewCart -->
                                    <div class="viewCart">
                                        <a href="view_cart.html">View Cart</a>
                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- MenuBar -->

                <div class="MenuBar">

                    <div class="col-lg-12">

                        <div class="MenuBar">

                            <div class="col-lg-12">

                                <div class="MenuItem">

                                    <ul>

                                        {% for link in linklists.main-menu.links %}
                                            {% assign child_list_handle = link.title | handleize %}
                                            {% if linklists[child_list_handle].links != blank %}
                                            <li>
                                                <a href="{{ link.url }}">{{ link.title }}</a>
                                                <ul class="subMenu">
                                                    {% for childlink in linklists[child_list_handle].links %}
                                                    <li>
                                                        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% else %}
                                                <li>
                                                    {% if link.url == "https://runway360.cfda.com/designers/gita-omri-2" %}
                                                        <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                                                    {% else %}
                                                        <a href="{{ link.url }}">{{ link.title }}</a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- MobileMenu -->
        <div class="MobileMenu">

            <div class="logoImg">

                <a href="index.html"><img src="frontend_assets/images/logo.jpg" alt=""></a>

                <div class="Bag">
                    <button type="button">
                        <a href="view_cart.html">
                            <img src="frontend_assets/images/shopping-bag.png" alt="">
                            <span>0</span>
                        </a>
                    </button>

                </div>


                <button type="button" class="MobileMenuIcon" data-bs-toggle="modal" data-bs-target="#MobileModal">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="MobileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <img src="frontend_assets/images/white_close.png" alt="">
                            </button>

                            <div class="modal-body">

                                <div class="MenuItem">

                                    <ul>

                                        <li class="dropdown">
                                            <a href="" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Shop <i class="fas fa-chevron-down"></i> </a>

                                            <ul class="subMenu dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li><a href="spring.html">SPRING 23</a></li>
                                                <li><a href="Omri_Essential.html">OMRI ESSENTIALS</a></li>
                                            </ul>

                                        </li>
                                        <li> <a href="mission.html"> Our Mission </a> </li>
                                        <li> <a href="about.html"> About Gita </a> </li>
                                        <li> <a href="collection.html"> Collection </a> </li>
                                        <li> <a href="media.html"> Media </a> </li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>



    </div>

</section>