<section class="Logo">

    <div class="container">

        <!-- DesktopMenu -->
        <div class="DesktopMenu">

            <div class="row">

                <!-- Logo -->
                <div class="col-lg-12">

                    <div class="logoImg">

                        <a href="/">{{ 'logo.jpg' | asset_url | img_tag: 'Gita Omri' }}</a>

                        <!-- RightSideBar -->
                        {% section 'right_sidebar' %}

                    </div>

                </div>

                <!-- MenuBar -->

                <div class="MenuBar">

                    <div class="col-lg-12">

                        <div class="MenuBar">

                            <div class="col-lg-12">

                                <div class="MenuItem">

                                    <ul>

                                        {% for link in linklists.main-menu.links %}
                                            {% assign child_list_handle = link.title | handleize %}
                                            {%- assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&'  -%}
                                            {% if linklists[child_list_handle].links != blank %}
                                            <li>
                                                <a class="{% if page_url == '/collections' or page_url == '/collections/spr23' or page_url == '/collections/omriessentials' %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                                                <ul class="subMenu">
                                                    {% for childlink in linklists[child_list_handle].links %}
                                                    <li>
                                                        <a class="{% if childlink.url == page_url %}active{% endif %}" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% else %}
                                                <li>
                                                    {% if link.url == "https://runway360.cfda.com/designers/gita-omri-2" %}
                                                        <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                                                    {% else %}
                                                        <a class="{% if link.url == page_url %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- MobileMenu -->
        <div class="MobileMenu">

            <div class="logo">

                <a href="/">{{ 'logo.jpg' | asset_url | img_tag: 'Gita Omri' }}</a>

                <div class="Bag">
                    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <a href="/cart">
                            {{ 'shopping-bag.png' | asset_url | img_tag: 'Gita Omri' }}
                            <span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>
                        </a>
                    </button>

                </div>

                <div class="MobileMenuIcon">

                    <!-- Button trigger modal -->
                    <button type="button" class="MobileMenuIconBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fas fa-bars"></i>
                    </button>

                </div>

            </div>

        </div>



    </div>

</section>

<div class="modal fade MobileMenuPop" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-body">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>

                <div class="MobileMunu">

                    <ul>
                        {% for link in linklists.main-menu.links %}
                        {% assign child_list_handle = link.title | handleize %}
                            {% if linklists[child_list_handle].links != blank %}
                            <li class="dropdown">

                                <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-plus"></i>
                                    <a href="{{ link.url }}"> {{ link.title }}</a>
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    {% for childlink in linklists[child_list_handle].links %}
                                    <li>
                                        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>

                            </li>
                            {% else %}
                                <li>
                                    {% if link.url == "https://runway360.cfda.com/designers/gita-omri-2" %}
                                        <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                                    {% else %}
                                        <a href="{{ link.url }}">{{ link.title }}</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>