<!doctype html>
<html lang="en">
<head>
  {% render 'head-tag' %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"/>
  {{ 'all.min.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}


  {{ 'jquery-1.12.4.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
  {{ 'all.min.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Boost 1.6.17 -->
  <meta name="theme-color" content="{{ settings.primary_btn_background }}">

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% render 'social-meta-tags' %}

  {{ content_for_header }} <!-- Header hook for plugins -->
</head>
<body>

{% include 'header' %}
  <main role="main">
    {{ content_for_layout }}
  </main>

{% include 'footer' %}

<script type="application/json" data-ajax-cart-initial-state>{{ cart | json }}</script>

<script type="module">
  import '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
</script>

<script>
  AOS.init();
</script>
</body>
</html>
