<div class="Bag">
    <button type="button" id="addToCartBtn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        {{ 'shopping-bag.png' | asset_url | img_tag: 'Gita Omri' }}
        <span class="item-count-number" data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>
    </button>
</div>

<div class="RightSideBar">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

        <div class="offcanvas-header">
            <button type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fas fa-chevron-right"></i></button>
            <h5>Cart</h5>
        </div>

        <div class="offcanvas-body" data-ajax-cart-section>

            <!-- product Item -->
            <div class="RightSideBarCart" data-ajax-cart-section-scroll>

                {% for item in cart.items %}
                    {% assign item_index = forloop.index %}
                    <div class="RightSideBarItem">

                        <div class="img">
                            <a href="{{ item.url }}"><img src="{{ item.image | img_url }}" width="80px" height="80px" alt=""></a>
                        </div>

                        <div class="text">
                            <h5>{{ item.title }}</h5>
                            <p>{{ item.final_line_price | money }}</p>

                            <div class="input">
                                <div class="minus"><a data-ajax-cart-request-button
                                                      href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}"><img src="{{ 'minus.png' | asset_url }}" alt=""></a></div>
                                <input type="text"
                                       data-ajax-cart-quantity-input="{{ item_index }}"
                                       name="updates[]"
                                       value="{{ item.quantity }}">
                                <div class="plus"><a data-ajax-cart-request-button
                                                     href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}"><img src="{{ 'plus.png' | asset_url }}" alt=""></a></div>
                            </div>

                        </div>

                        <div class="closeHover">
                            <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity=0">
                                <img src="{{ 'close.png' | asset_url }}" alt="">
                            </a>
                        </div>
                        <div data-ajax-cart-messages="{{ item.key }}"></div>
                    </div>
                {% endfor %}

            </div>

            <!-- subtotal -->
            <div class="subtotal">

                <h4>Subtotal</h4>
                <h5>{{ cart.total_price | money }}</h5>

            </div>

            <!-- viewCart -->
            <div class="viewCart">
                <a href="/cart">View Cart</a>
            </div>


        </div>

    </div>

</div>