{% comment %}
{% if cart.item_count > 0 %}
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}

{% endcomment %}

<section class="ViewCartPage">

  <div class="container">

    <div class="row">

      <!-- item -->
      <div class="col-lg-8">

        <div class="header">
          <h3>My cart</h3>
        </div>

        <!-- item -->
        <div class="ViewCartPageItem">

          <!-- left -->
          <div class="left">

            <div class="img">
              {{ 'img3.webp' | asset_url | img_tag: 'Gita Omri' }}
            </div>

          </div>

          <div class="TextContent">

            <!-- text -->
            <div class="text">
              <h4>BOWTIE NECK BLOUSE W/ PEPLUM</h4>
              <p>$260.00</p>
              <p>Size: 4</p>
              <p>Color: WHITE/BLACK</p>
            </div>

            <!-- Counter -->
            <div class="Counter">

              <div class="input">
                <div class="minus">
                  {{ 'minus.png' | asset_url | img_tag: 'Gita Omri' }}
                </div>
                <input type="text" value="1" name="" id="">
                <div class="plus">
                  {{ 'plus.png' | asset_url | img_tag: 'Gita Omri' }}
                </div>
              </div>

            </div>

            <!-- Price -->
            <div class="Price">
              <h4>$260.00</h4>
            </div>

            <!-- Close -->
            <div class="Close">
              {{ 'close.png' | asset_url | img_tag: 'Gita Omri' }}
            </div>

          </div>

        </div>

        <!-- EnterPromoCode -->
        <div class="EnterPromoCode">

          <div class="EnterPromoCodeItem">
            <a href="" class="d_flex"> <img src="frontend_assets/images/price-tag.png" alt=""> Enter a promo code </a>
          </div>

          <div class="EnterPromoCodeItem">
            <a href="" class="d_flex"> <img src="frontend_assets/images/files.png" alt=""> Add a note </a>
          </div>

        </div>

      </div>

      <div class="col-lg-4">

        <div class="OrderSummery">

          <h3>Order summary</h3>

          <ul>

            <li>
              <div class="left">
                <h5>Subtotal</h5>
                <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Estimate Shipping</button>
              </div>
              <h5>$1,185.00</h5>
            </li>

            <li>
              <h6>Total</h6>
              <h6>$1,185.00</h6>
            </li>

          </ul>

          <div class="CheckOut">
            <a href="">Checkout</a>
          </div>

          {% comment %}<!-- Paypal -->{% endcomment %}
          {% comment %}<div class="Paypal">{% endcomment %}
            {% comment %}<a href="" class="d_flex">{% endcomment %}
              {% comment %}<img src="frontend_assets/images/paypal.svg" alt="">{% endcomment %}
              {% comment %}<h6>Checkout</h6>{% endcomment %}
            {% comment %}</a>{% endcomment %}
          {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
          {% comment %}<!-- Paypal -->{% endcomment %}
          {% comment %}<div class="Paypal">{% endcomment %}
            {% comment %}<a href="" class="d_flex">{% endcomment %}
              {% comment %}<img src="frontend_assets/images/paypalshot.svg" alt="">{% endcomment %}
              {% comment %}<h6>Pay Later</h6>{% endcomment %}
            {% comment %}</a>{% endcomment %}
          {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
          {% comment %}<div class="Secure d_flex">{% endcomment %}
            {% comment %}<h6><img src="frontend_assets/images/lock.png" alt=""> Secure Checkout</h6>{% endcomment %}
          {% comment %}</div>{% endcomment %}

        </div>

      </div>

    </div>

  </div>

</section>
