<section class="SpringHeader">

    <div class="container">

        <!-- Header -->
        <div class="row">

            <!-- SpringHeaderImg -->
            <div class="col-lg-4">
                <div class="SpringHeaderImg">
                    {{ 'spring.jpg' | asset_url | img_tag: 'Gita Omri' }}
                </div>
            </div>


            <div class="col-lg-8">

                <div class="SpringHeaderContent">

                    <h2>{{ collection.title }}</h2>

                    {{ collection.description  }}

                </div>

            </div>

        </div>

    </div>

</section>

<section class="Spring">

    <div class="container">

        <div class="row">

            {% for product in collection.products %}
            <!-- item -->
            <div class="col-lg-6">

                <div class="SliderItem">

                    <!-- img -->
                    <div class="img">
                        <a href="{{ product.url | within: collection }}">
                            {{ product.featured_image.src | img_url: '361x361' | img_tag: 'Gita Omri' }}
                        </a>
                        {% comment %}
                        {% unless product.available %}
                        <span>sold out</span>
                        {% endunless %}
                        {% endcomment %}
                        <div class="quickView">
                            <button type="button" onclick="handleOption('{{ product.handle }}')">
                                Quick View
                            </button>
                        </div>
                    </div>

                    <!-- text -->
                    <a href="{{ product.url | within: collection }}">
                        <div class="text">
                            <h3>{{ product.title }}</h3>
                            <p>{{ product.price | money }}</p>
                        </div>
                    </a>

                    <a href="" class="addCart">Add to Cart</a>

                </div>

            </div>
            {% endfor %}

        </div>

    </div>

</section>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <!-- <div class="modal-header">

            </div> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="modal-body">

                <div class="row">

                    <!-- ModalImg -->
                    <div class="col-lg-6">

                        <div class="ModalImg">
                            <img src="" id="feature_image" alt="">
                        </div>

                    </div>

                    <!-- ModalContent -->
                    <div class="col-lg-6">

                        <div class="ModalContent">

                            <h3 id="product_title"></h3>
                            <h4>$345.00</h4>

                            <form action="" method="post" class="ModalFrom">

                                <!-- item -->
                                <div class="CustomeInput">

                                    <label>Color: <span>NAVY/GOLD</span></label>

                                    <div class="radioInput d_flex">
                                        <input type="radio" class="blue" name="color">
                                        <input type="radio" class="red" name="color">
                                    </div>

                                </div>

                                <!-- item -->
                                <div class="CustomeInput">

                                    <label>Size</label>

                                    <select name="">
                                        <option value="">Select</option>
                                        <option value="">0</option>
                                        <option value="">2</option>
                                        <option value="">4</option>
                                        <option value="">6</option>
                                    </select>

                                </div>

                                <!-- item -->
                                <div class="CustomeInput">

                                    <label>Quantity</label>

                                    <input type="number" name="" class="Quantity">

                                </div>

                                <!-- item -->
                                <div class="CustomeInput">
                                    <button type="submit">Add to Cart</button>
                                </div>

                                <!-- item -->
                                <div class="CustomeInput">
                                    <a href="product_details.html">View More Details</a>
                                </div>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<script>
    function handleOption(handle) {
        jQuery.getJSON(window.Shopify.routes.root + 'products/' + handle + '.js', function(product) {
            $('#product_title').text(product.title)
            $('#feature_image').attr('src', product.featured_image)
            $('#exampleModal').modal('show')
        });
    }
</script>