<section class="Banner d_flex">

  <!-- BannerContent -->
  <div class="BannerContent">

    <h1><span>30%</span> OFF CYBER MONDAY SALE</h1>

    <h3><span> CODE:  </span> CYBERMONDAY30</h3>

    <a href="">shop now</a>

  </div>

  <!-- BanenrImg -->
  <div class="BanenrImg">

    {{ 'banner.jpg' | asset_url | img_tag: 'Gita Omri' }}

  </div>

</section>

<section class="Product">

  <div class="next"><i class="fas fa-chevron-right"></i></div>
  <div class="prev"><i class="fas fa-chevron-left"></i></div>

  <div class="ProductSlider">

    <div class="swiper mySwiper">

      <div class="swiper-wrapper">
        {% for product in collections.frontpage.products %}

        <!-- item -->
        <div class="swiper-slide">

          <div class="SliderItem">

            <!-- img -->
            <div class="img">
              <a href="{{ product.url | within: collection }}">
                {{ product.featured_image.src | img_url: '361x361' | img_tag: 'Gita Omri' }}
              </a>

              {% comment %}
              {% unless product.available %}
              <span>sold out</span>
              {% endunless %}
              {% endcomment %}

              <div class="quickView">
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Quick View
                </button>
              </div>
            </div>

            <!-- text -->
            <a href="{{ product.url | within: collection }}">
              <div class="text">
                <h3>{{ product.title }}</h3>
                <p>{{ product.price | money }}</p>
              </div>
            </a>

          </div>

        </div>

        {% endfor %}
      </div>

    </div>

  </div>

</section>