<section class="Banner d_flex">

  <!-- BannerContent -->
  <div class="BannerContent">

    <h1><span>30%</span> OFF CYBER MONDAY SALE</h1>

    <h3><span> CODE:  </span> CYBERMONDAY30</h3>

    <a href="">shop now</a>

  </div>

  <!-- BanenrImg -->
  <div class="BanenrImg">

    {{ 'banner.jpg' | asset_url | img_tag: 'Gita Omri' }}

  </div>

</section>

<section class="Product">

  <div class="next"><i class="fas fa-chevron-right"></i></div>
  <div class="prev"><i class="fas fa-chevron-left"></i></div>

  <div class="ProductSlider">

    <div class="swiper mySwiper">

      <div class="swiper-wrapper">
        {% for product in collections.frontpage.products %}

        <!-- item -->
        <div class="swiper-slide">

          <div class="SliderItem">

            <!-- img -->
            <div class="homepage_img img">
              <a href="{{ product.url | within: collection }}">
                {{ product.featured_image.src | product_img_url: '361x361' | img_tag: 'Gita Omri' }}
              </a>

              {% comment %}
              {% unless product.available %}
              <span>sold out</span>
              {% endunless %}
              {% endcomment %}

              <div class="quickView">
                <button type="button" onclick="handleOption('{{ product.handle }}')">
                  Quick View
                </button>
              </div>
            </div>

            <!-- text -->
            <a href="{{ product.url | within: collection }}">
              <div class="text">
                <h3>{{ product.title }}</h3>
                <p>{{ product.price | money }}</p>
              </div>
            </a>

          </div>

        </div>

        {% endfor %}
      </div>

    </div>

  </div>

</section>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">

    <div class="modal-content">

      <!-- <div class="modal-header">

      </div> -->
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      <div class="modal-body">

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
          <div class="row">

            <!-- ModalImg -->
            <div class="col-lg-6">

              <div class="ModalImg">
                <img src="" id="feature_image" alt="">
              </div>

            </div>

            <!-- ModalContent -->
            <div class="col-lg-6">

              <div class="ModalContent">

                <h3 id="product_title"></h3>
                <h4 id="product_price">$0.00</h4>

                <form action="" method="post" class="ModalFrom">

                  <!-- item -->
                  <div id="variantCustomInput"></div>

                  <!-- item -->
                  <div class="CustomeInput">

                    <select style="display: none;" id="id"></select>

                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" value="1" min="1" class="Quantity">

                  </div>

                  <!-- item -->
                  <div class="CustomeInput">
                    <button type="submit" data-bs-dismiss="modal" name="add" id="AddToCart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">Add to Cart</button>
                  </div>

                  <!-- item -->
                  <div class="CustomeInput">
                    <a id="product_url" href="#">View More Details</a>
                  </div>

                </form>

              </div>

            </div>

          </div>
        </form>

      </div>

    </div>

  </div>

</div>


<script>
  function handleOption(handle) {
    jQuery.getJSON(window.Shopify.routes.root + 'products/' + handle + '.js', function(product) {
      console.log(product)
      $('#product_title').text(product.title)
      $('#feature_image').attr('src', product.featured_image)
      $('#product_url').attr('href', product.url)
      $('#quantity').val(1)
      if(product.price_varies) {
        let price_min = parseFloat(product.price_min / 100).toFixed(2);
        let price_max = parseFloat(product.price_max / 100).toFixed(2);
        $('#product_price').text("$" + price_min + " - " + "$" + price_max)
      } else {
        let price = parseFloat(product.price / 100).toFixed(2);
        $('#product_price').text("$" + price)
      }
      let html = '';
      product.options.forEach(function(item) {
        html += '<div class="CustomeInput">';
        if(item.name == 'Color') {
          html += '<label>'+ item.name +'</label>';
          html += '<div class="radioInput d_flex">';
          item.values.forEach(function (value, index) {
            if(index == 0) {
              html += '<input type="radio" value="'+ value +'" style="--main_color2: ' + value + ';" class="'+ item.name +'" name="'+ item.name +'" onclick="combineVariant()" checked>';
            } else {
              html += '<input type="radio" value="'+ value +'" style="--main_color2: ' + value + ';" class="'+ item.name +'" name="'+ item.name +'" onclick="combineVariant()">';
            }
          })
          html += '</div>';
        } else {
          html += '<label>'+ item.name +'</label>';
          html += '<select class="'+ item.name +'" name="'+ item.name +'" onchange="combineVariant()">';
          item.values.forEach(function (value, index) {
            if(index == 0) {
              html += '<option value="' + value + '" selected>' + value + '</option>';
            } else {
              html += '<option value="' + value + '">' + value + '</option>';
            }
          })
          html += '</select>';
        }
        html += '</div>';
      });

      $('#variantCustomInput').html(html);

      let variants = '';
      product.variants.forEach(function(item) {
        variants += '<option value="' + item.id + '">' + item.title + '</option>';
      });

      $('#id').html(variants);

      combineVariant();

      $('#exampleModal').modal('show')
    });
  }

  function combineVariant ()
  {
    let allData = JSON.parse(JSON.stringify($('#AddToCartForm').serializeArray()));

    let items = []
    allData.forEach((item, index)=>{
      items.push(item.value)
    })

    let ItemsJoin = items.join(' / ');

    // console.log(ItemsJoin)

    $("#id option:contains('" + ItemsJoin + "')").filter(function(i){
      return $(this).text() == ItemsJoin;
    }).prop("selected","selected")

    // $("#id option:contains(" + ItemsJoin + ")").prop("selected","selected")

    // console.log($('#id').val())
  }
</script>
<script type="module">
  import { cartRequestAdd } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}'

  $('#AddToCart').on('click', function (e) {
    e.preventDefault();

    cartRequestAdd({
      items: [
        {
          id: $('#id').val(),
          quantity: $('#quantity').val()
        }
      ]
    });

  })
</script>