<section class="Contact">

  <div class="container">

    <div class="row">

      <!-- ContactImg  -->
      <div class="col-lg-6">

        <div class="ContactImg">
          {{ 'contact.jpg' | asset_url | img_tag: 'Gita Omri' }}
        </div>

      </div>

      <!-- ContactFrom -->
      <div class="col-lg-6">

        <div class="ContactFrom">

          <span>CONTACT</span>

          {% form 'contact' %}

            <div class="row">

              <!-- item -->
              <div class="col-lg-6">

                <div class="CustomeInput">
                  <label for="first-name">First Name</label>
                  <input type="text" name="contact[first_name]" id="first-name">
                </div>

              </div>

              <!-- item -->
              <div class="col-lg-6">

                <div class="CustomeInput">
                  <label for="last-name">Last Name</label>
                  <input type="text" name="contact[last_name]" id="last-name">
                </div>

              </div>

              <!-- item -->
              <div class="col-lg-12">

                <div class="CustomeInput">
                  <label for="email">Email *</label>
                  <input type="email" name="contact[email]" id="email">
                </div>

              </div>

              <!-- item -->
              <div class="col-lg-12">

                <div class="CustomeInput">
                  <label for="message">Message</label>
                  <textarea name="contact[body]" id="message" rows="5"></textarea>
                </div>

              </div>

              <!-- item -->
              <div class="col-lg-12">

                <div class="CustomeInput button">
                  <button type="submit">Send</button>
                </div>

              </div>

            </div>

          {% endform %}

        </div>

      </div>

      <!-- MailAddress -->
      <div class="col-lg-12">

        <div class="MailAddress">

          <ul>

            <li class="d_flex">
              <h5>PR + MEDIA</h5>
              <h5>|</h5>
              <a href="mailto:{{ settings.media_email }}">{{ settings.media_email }}</a>
            </li>

            <li class="d_flex">
              <h5>WHOLESALE</h5>
              <h5>|</h5>
              <a href="mailto:{{ settings.wholesale_email }}">{{ settings.wholesale_email }}</a>
            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>

</section>
