<section class="Media">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="MediaContent">

                    <!-- video -->
                    <div class="VideoPart">

                        <video autoplay muted controls src="{{ 'video.mp4' | asset_url }}"></video>

                        <h2>Gita Omri on NYLive WNBC</h2>

                    </div>

                    <!-- MediaImg -->
                    <div class="MediaImg">

                        <div class="row">

                            <!-- item -->
                            <div class="col-lg-6">

                                <div class="img">
                                    <a href="https://www.wework.com/creator/personal-profiles/one-designers-mission-to-elevate-size-inclusive-clothing/" target="_blank">
                                        {{ 'media_one.png' | asset_url | img_tag: 'Gita Omri' }}
                                    </a>
                                </div>

                            </div>

                            <!-- item -->
                            <div class="col-lg-6">

                                <div class="img">
                                    <a href="https://ideamensch.com/gita-omri/" target="_blank">
                                        {{ 'media_two.png' | asset_url | img_tag: 'Gita Omri' }}
                                    </a>
                                </div>

                            </div>

                            <!-- item -->
                            <div class="col-lg-6">

                                <div class="img">
                                    <a href="https://darlingmagazine.org/inclusive-fashion-designer-gita-omri/" target="_blank">
                                        {{ 'media_three.png' | asset_url | img_tag: 'Gita Omri' }}
                                    </a>
                                </div>

                            </div>

                            <!-- item -->
                            <div class="col-lg-6">

                                <div class="img">
                                    <a href="http://www.orchardstrategies.com/orchard-blog/2017/12/17/gita-omri-inclusive-designer-entrepreneur-launches-fashion-line" target="_blank">
                                        {{ 'media_four.png' | asset_url | img_tag: 'Gita Omri' }}
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                    {% comment %}{% section 'media' %}{% endcomment %}

                    <!-- BlogPart -->
                    <div class="BlogPart">

                        <div class="row">
                            {%- for article in blogs.news.articles -%}
                                <!-- item -->
                                <div class="col-lg-4 mb-4">

                                    <div class="BlogItem">
                                        {%- if article.image -%}
                                            {{ article | img_url: '292x292' | img_tag: 'Gita Omri' }}
                                        {%- endif -%}
                                        <!-- overlay -->
                                        <div class="overlay">

                                            <!-- header -->
                                            <div class="header">
                                                <a href="" class="d_flex">
                                                    <span>{{ article.author }}</span>
                                                    {% comment %}{{ 'crown.png' | asset_url | img_tag: 'Gita Omri' }}{% endcomment %}
                                                </a>

                                                <ul>
                                                    <li>{{ article.created_at | date: "%b %d, %Y"}}</li>
                                                    {% comment %}<li>4 Min</li>{% endcomment %}
                                                </ul>
                                            </div>

                                            <!-- bottom -->
                                            <div class="bottom">

                                                <h4 style="border-bottom: none !important;">
                                                    <a href="{{ article.url }}">{{ article.title }}</a>
                                                </h4>

                                                {% comment %}<div class="commentPart d_flex">{% endcomment %}
{% comment %}{% endcomment %}
                                                    {% comment %}<!-- left -->{% endcomment %}
                                                    {% comment %}<div class="left d_flex">{% endcomment %}
{% comment %}{% endcomment %}
                                                        {% comment %}<a href="" class="d_flex">{% endcomment %}
                                                        {% comment %}<i class="fas fa-eye"></i><span>78</span>{% endcomment %}
                                                        {% comment %}</a>{% endcomment %}
{% comment %}{% endcomment %}
                                                        {% comment %}<a href="{{ article.url }}#comments" class="d_flex">{% endcomment %}
                                                            {% comment %}<i class="fas fa-comment-alt"></i><span>{{ article.comments_count }}</span>{% endcomment %}
                                                        {% comment %}</a>{% endcomment %}
{% comment %}{% endcomment %}
                                                    {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                                                    {% comment %}<!-- right -->{% endcomment %}
                                                    {% comment %}<div class="right">{% endcomment %}
                                                    {% comment %}<a href="" class="heart"><span>1</span> <i class="far fa-heart"></i></a>{% endcomment %}
                                                    {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                                                {% comment %}</div>{% endcomment %}

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            {%- endfor -%}
                            <!-- item -->
                            {% comment %}<div class="col-lg-4">{% endcomment %}
{% comment %}{% endcomment %}
                                {% comment %}<div class="BlogItem">{% endcomment %}
{% comment %}{% endcomment %}
                                    {% comment %}{{ 'blog2.jpg' | asset_url | img_tag: 'Gita Omri' }}{% endcomment %}
{% comment %}{% endcomment %}
                                    {% comment %}<!-- overlay -->{% endcomment %}
                                    {% comment %}<div class="overlay">{% endcomment %}
{% comment %}{% endcomment %}
                                        {% comment %}<!-- header -->{% endcomment %}
                                        {% comment %}<div class="header">{% endcomment %}
                                            {% comment %}<a href="" class="d_flex"><span>Gita Omri Brown</span>{% endcomment %}
                                                {% comment %}{{ 'crown.png' | asset_url | img_tag: 'Gita Omri' }}{% endcomment %}
                                            {% comment %}</a>{% endcomment %}
{% comment %}{% endcomment %}
                                            {% comment %}<ul>{% endcomment %}
                                                {% comment %}<li>Mar 1, 2020</li>{% endcomment %}
                                                {% comment %}<li>4 Min</li>{% endcomment %}
                                            {% comment %}</ul>{% endcomment %}
{% comment %}{% endcomment %}
                                        {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                                        {% comment %}<!-- bottom -->{% endcomment %}
                                        {% comment %}<div class="bottom">{% endcomment %}
{% comment %}{% endcomment %}
                                            {% comment %}<h4>{% endcomment %}
                                                {% comment %}<a href="blog_single.html">The Greatest Love of All </a>{% endcomment %}
                                            {% comment %}</h4>{% endcomment %}
{% comment %}{% endcomment %}
                                            {% comment %}<div class="commentPart d_flex">{% endcomment %}
{% comment %}{% endcomment %}
                                                {% comment %}<!-- left -->{% endcomment %}
                                                {% comment %}<div class="left d_flex">{% endcomment %}
{% comment %}{% endcomment %}
                                                    {% comment %}<a href="" class="d_flex">{% endcomment %}
                                                        {% comment %}<i class="fas fa-eye"></i><span>78</span>{% endcomment %}
                                                    {% comment %}</a>{% endcomment %}
{% comment %}{% endcomment %}
                                                    {% comment %}<a href="" class="d_flex">{% endcomment %}
                                                        {% comment %}<i class="fas fa-comment-alt"></i><span>78</span>{% endcomment %}
                                                    {% comment %}</a>{% endcomment %}
{% comment %}{% endcomment %}
                                                {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                                                {% comment %}<!-- right -->{% endcomment %}
                                                {% comment %}<div class="right">{% endcomment %}
                                                    {% comment %}<a href="" class="heart"><span>1</span> <i class="far fa-heart"></i></a>{% endcomment %}
                                                {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                                            {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                                        {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                                    {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                                {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                            {% comment %}</div>{% endcomment %}
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>