<section class="Media">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="MediaContent">

                    <!-- video -->
                    <div class="VideoPart">

                        <video autoplay muted controls src="https://video.wixstatic.com/video/4a676d_ae5d2b8151e84151b3a4f54b7a87f157/480p/mp4/file.mp4"></video>

                        <h2>Gita Omri on NYLive WNBC</h2>

                    </div>

                    <!-- MediaImg -->
                    <div class="MediaImg">

                        <div class="row">

                            <!-- item -->
                            <div class="col-lg-6">

                                <div class="img">
                                    {{ 'media.png' | asset_url | img_tag: 'The Soap Store' }}
                                </div>

                            </div>

                            <!-- item -->
                            <div class="col-lg-6">

                                <div class="img">
                                    {{ 'media2.png' | asset_url | img_tag: 'The Soap Store' }}
                                </div>

                            </div>

                            <!-- item -->
                            <div class="col-lg-6">

                                <div class="img">
                                    {{ 'media2.png' | asset_url | img_tag: 'The Soap Store' }}
                                </div>

                            </div>

                            <!-- item -->
                            <div class="col-lg-6">

                                <div class="img">
                                    {{ 'media.png' | asset_url | img_tag: 'The Soap Store' }}
                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- BlogPart -->
                    <div class="BlogPart">

                        <div class="row">

                            <!-- item -->
                            <div class="col-lg-4">

                                <div class="BlogItem">

                                    {{ 'blog2.jpg' | asset_url | img_tag: 'The Soap Store' }}

                                    <!-- overlay -->
                                    <div class="overlay">

                                        <!-- header -->
                                        <div class="header">
                                            <a href="" class="d_flex"><span>Gita Omri Brown</span>
                                                {{ 'crown.png' | asset_url | img_tag: 'The Soap Store' }}
                                            </a>

                                            <ul>
                                                <li>Mar 1, 2020</li>
                                                <li>4 Min</li>
                                            </ul>

                                        </div>

                                        <!-- bottom -->
                                        <div class="bottom">

                                            <h4>
                                                <a href="blog_single.html">The Greatest Love of All </a>
                                            </h4>

                                            <div class="commentPart d_flex">

                                                <!-- left -->
                                                <div class="left d_flex">

                                                    <a href="" class="d_flex">
                                                        <i class="fas fa-eye"></i><span>78</span>
                                                    </a>

                                                    <a href="" class="d_flex">
                                                        <i class="fas fa-comment-alt"></i><span>78</span>
                                                    </a>

                                                </div>

                                                <!-- right -->
                                                <div class="right">
                                                    <a href="" class="heart"><span>1</span> <i class="far fa-heart"></i></a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <!-- item -->
                            <div class="col-lg-4">

                                <div class="BlogItem">

                                    {{ 'blog1.jpg' | asset_url | img_tag: 'The Soap Store' }}

                                    <!-- overlay -->
                                    <div class="overlay">

                                        <!-- header -->
                                        <div class="header">
                                            <a href="" class="d_flex"><span>Gita Omri Brown</span>
                                                {{ 'crown.png' | asset_url | img_tag: 'The Soap Store' }}
                                            </a>

                                            <ul>
                                                <li>Mar 1, 2020</li>
                                                <li>4 Min</li>
                                            </ul>

                                        </div>

                                        <!-- bottom -->
                                        <div class="bottom">

                                            <h4>
                                                <a href="blog_single.html">The Greatest Love of All </a>
                                            </h4>

                                            <div class="commentPart d_flex">

                                                <!-- left -->
                                                <div class="left d_flex">

                                                    <a href="" class="d_flex">
                                                        <i class="fas fa-eye"></i><span>78</span>
                                                    </a>

                                                    <a href="" class="d_flex">
                                                        <i class="fas fa-comment-alt"></i><span>78</span>
                                                    </a>

                                                </div>

                                                <!-- right -->
                                                <div class="right">
                                                    <a href="" class="heart"><span>1</span> <i class="far fa-heart"></i></a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <!-- item -->
                            <div class="col-lg-4">

                                <div class="BlogItem">

                                    {{ 'blog2.jpg' | asset_url | img_tag: 'The Soap Store' }}

                                    <!-- overlay -->
                                    <div class="overlay">

                                        <!-- header -->
                                        <div class="header">
                                            <a href="" class="d_flex"><span>Gita Omri Brown</span>
                                                {{ 'crown.png' | asset_url | img_tag: 'The Soap Store' }}
                                            </a>

                                            <ul>
                                                <li>Mar 1, 2020</li>
                                                <li>4 Min</li>
                                            </ul>

                                        </div>

                                        <!-- bottom -->
                                        <div class="bottom">

                                            <h4>
                                                <a href="blog_single.html">The Greatest Love of All </a>
                                            </h4>

                                            <div class="commentPart d_flex">

                                                <!-- left -->
                                                <div class="left d_flex">

                                                    <a href="" class="d_flex">
                                                        <i class="fas fa-eye"></i><span>78</span>
                                                    </a>

                                                    <a href="" class="d_flex">
                                                        <i class="fas fa-comment-alt"></i><span>78</span>
                                                    </a>

                                                </div>

                                                <!-- right -->
                                                <div class="right">
                                                    <a href="" class="heart"><span>1</span> <i class="far fa-heart"></i></a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>