<section class="OmriEssential">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="Header">

                    <h2>Pre-Order Omri Essentials Now</h2>
                    <h6>Expected shipping early January</h6>
                    <h4>More styles to come shortly....</h4>

                </div>

            </div>

        </div>

    </div>

</section>

<section class="Spring">

    <div class="container">

        <div class="row">

            <!-- item -->
            <div class="col-lg-4">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img1.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                        </div>

                    </a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-4">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img2.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                        </div>

                    </a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-4">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img3.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                        </div>

                    </a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-4">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img1.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                        </div>

                    </a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-4">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img2.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                        </div>

                    </a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-4">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img3.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                        </div>

                    </a>

                </div>

            </div>

        </div>

    </div>

</section>