<section class="SpringHeader">

    <div class="container">

        <!-- Header -->
        <div class="row">

            <!-- SpringHeaderImg -->
            <div class="col-lg-4">
                <div class="SpringHeaderImg">
                    {{ 'spring.jpg' | asset_url | img_tag: 'The Soap Store' }}
                </div>
            </div>


            <div class="col-lg-8">

                <div class="SpringHeaderContent">

                    <h2>SPRING 23</h2>

                    <p>Often times the greatest strength comes from the most gentle and delicate places. Patience, compassion, RESILIENCE, and courage prove to have a greater force and power than any bullying or shoving could. This collection is inspired by the idea of growing something beautiful and delicate in a not so welcoming and harsh environment. For instance, the daisy, a small and delicate flower that has the tenacity to grow in the least likely of places and grow with vigor. They can survive many enviornments and stand strong in the face of any condition.</p>

                    <p>The Gita Omri woman has been patiently growing and blooming waiting for the chance to be acknowledged and catered to, because to us any size is beautiful.</p>

                </div>

            </div>

        </div>

    </div>

</section>

<section class="Spring">

    <div class="container">

        <div class="row">

            <!-- item -->
            <div class="col-lg-6">

                <div class="SliderItem">

                    <!-- img -->
                    <div class="img">
                        <a href="">
                            {{ 'img5.webp' | asset_url | img_tag: 'The Soap Store' }}
                        </a>
                        <span>Pre Sale</span>
                        <div class="quickView">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Quick View
                            </button>
                        </div>
                    </div>

                    <!-- text -->
                    <a href="">
                        <div class="text">
                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>
                        </div>
                    </a>

                    <a href="" class="addCart">Add to Cart</a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-6">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img2.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                            <a href="" class="addCart">Add to Cart</a>

                        </div>

                    </a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-6">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img3.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                            <a href="" class="addCart">Add to Cart</a>

                        </div>

                    </a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-6">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img4.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                            <a href="" class="addCart">Add to Cart</a>

                        </div>

                    </a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-6">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img5.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                            <a href="" class="addCart">Add to Cart</a>

                        </div>

                    </a>

                </div>

            </div>

            <!-- item -->
            <div class="col-lg-6">

                <div class="SliderItem">

                    <a href="">

                        <!-- img -->
                        <div class="img">
                            {{ 'img1.webp' | asset_url | img_tag: 'The Soap Store' }}
                            <span>Pre Sale</span>

                            <div class="quickView">
                                <p>Quick View</p>
                            </div>
                        </div>

                        <!-- text -->
                        <div class="text">

                            <h3>ESSENTIAL TANK TOP</h3>
                            <p>$450</p>

                            <a href="" class="addCart">Add to Cart</a>

                        </div>

                    </a>

                </div>

            </div>

        </div>

    </div>

</section>