{% comment %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
<div>{{ product.description }}</div>

{% endcomment %}


{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{%- liquid
    assign previous_product = collection.previous_product
    assign next_product = collection.next_product
    if previous_product or next_product
    else
        assign collectionList = product.collections[0].handle
        assign previous_product = 'na'
        assign next_product = 'na'
        assign last = collections[collectionList].products_count
        for p in collections[collectionList].products
            if p.handle == product.handle
                assign prev = forloop.index | minus: 2
                assign next = forloop.index
                if prev >= 0
                    assign previous_product = collections[collectionList].products[prev].handle
                endif
                if last >= next
                    assign next_product = collections[collectionList].products[next].handle
                endif
                break
            endif
        endfor
    endif
-%}
<section class="ProductDetails">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="Header d_flex">
                    <h6><a href="/">Home</a><span> / </span>{{ product.title }}</h6>

                    <div class="right">
                        <a {% if previous_product != 'na' %} href="{{ previous_product }}" {% else %} disabled {% endif %} class="prev"><i class="fas fa-chevron-left"></i> Prev</a> |
                        <a {% if next_product  != 'na' %} href="{{ next_product }}" {% else %} disabled {% endif %} class="next"> Next <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>

            </div>

        </div>

        <!-- ProductDetailsContent -->
        <div class="ProductDetailsContent">

            <div class="row">

                <!-- img -->
                <div class="col-lg-7">

                    <div class="ProductDetailsImg">

                        <!-- Main -->
                        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper ProductSwiper2">

                            <div class="swiper-wrapper">
                                {% for image in product.images %}
                                    <div class="swiper-slide">
                                        <img src="{{ image.src | img_url: '413x375' }}" alt="{{ image.alt | escape }}" onclick="productPhotoZoom('{{ product.handle }}')"/>
                                    </div>
                                {% endfor %}
                                <!-- img -->

                            </div>

                        </div>

                        <!-- thumbsSlider -->
                        <div thumbsSlider="" class="swiper ProductSwiper">

                            <div class="swiper-wrapper">

                                {% for image in product.images %}
                                    <div class="swiper-slide">
                                        <img src="{{ image.src | img_url: '500x375' }}" alt="{{ image.alt | escape }}"/>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>

                        <!-- text -->
                        <div class="text pc_textItem">

                            <!-- item -->
                            <div class="textItem">
                                {{ product.description }}
                            </div>

                        </div>


                    </div>

                </div>

                <!-- Content -->
                <div class="col-lg-5">

                    <div class="ModalContent">

                        <h3>{{ product.title }}</h3>
                        {% if product.price_varies %}
                            <h4>{{ product.price_min | money }} - {{ product.price_max | money }}</h4>
                        {% else %}
                            <h4>{{ product.price | money }}</h4>
                        {%endif%}

                        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

                                {% if product.has_only_default_variant != true -%}
                                    {% for option in product.options_with_values -%}
                                    <!-- item -->
                                    <div class="CustomeInput">
                                        {% if option.name != "Color" %}
                                            <label> {{ option.name }}</label>
                                            <select class="{{ option.name }}" name="{{ option.name }}" onchange="combineVariant()">
                                                {% for value in option.values %}
                                                    <option {% if option.selected_value == value %}selected{% endif %} value="{{ value }}">
                                                        {{ value }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <label> {{ option.name }}</label>
                                            <div class="radioInput d_flex">
                                                {% for value in option.values %}
                                                    <input type="radio" value="{{ value }}" {% if option.selected_value == value %}checked{% endif %} style="--main_color2: {{ value }};" class="{{ option.name }}" name="{{ option.name }}" onclick="combineVariant()">
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                {% endif %}

                            <!-- item -->
                            <div class="CustomeInput">

                                <select style="display: none" id="id">
                                    {% for option in product.variants -%}
                                        <option {% if option.selected %}selected{% endif %} value="{{ option.id }}">{{ option.title }}</option>
                                    {% endfor %}
                                </select>

                                <label for="quantity">Quantity</label>
                                <input type="number" id="quantity" value="1" min="1" class="Quantity">

                            </div>

                            <!-- item -->
                            <div class="CustomeInput mobile_checkout">
                                <button type="submit" name="add" class="AddToCartButton" onclick="setTimeout(function() { window.location.href  = '/cart'}, 1000)">Add to cart</button>
                            </div>
                            <div class="CustomeInput pc_checkout">
                                <button type="submit" name="add" class="AddToCartButton" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">Add to cart</button>
                            </div>


                            <!-- text -->
                            <div class="text mobile_textItem">

                                <!-- item -->
                                <div class="textItem">
                                    {{ product.description }}
                                </div>

                            </div>

                            <!-- item -->
                            <div class="CustomeInput">

                                <div class="SocialIcon">

                                    <a onclick="window.open('https://api.whatsapp.com/send?text=https://{{ request.host }}{{ product.url }}', 'myWindow', 'width=600,height=400')" style="cursor: pointer">
                                        {{ 'whatsapp.png' | asset_url | img_tag }}
                                    </a>
                                    <a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://{{ request.host }}{{ product.url }}', 'myWindow', 'width=600,height=400')" style="cursor: pointer">
                                        {{ 'facebook.png' | asset_url | img_tag }}
                                    </a>
                                    <a onclick="window.open('https://twitter.com/intent/tweet?url=https://{{ request.host }}{{ product.url }}&text={{ product.title }}', 'myWindow', 'width=600,height=400')" style="cursor: pointer">
                                        {{ 'twitter.png' | asset_url | img_tag }}
                                    </a>
                                    <a onclick="window.open('http://pinterest.com/pin/create/button/?url=https://{{ request.host }}{{ product.url }}&media=https:{{ product.featured_image.src | product_img_url }}&description={{ product.title }}', 'myWindow', 'width=600,height=400')" style="cursor: pointer">
                                        {{ 'pinterest.png' | asset_url | img_tag }}
                                    </a>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>


<!-- PopUp Model -->
<div class="modal fade" id="PopupImageModel" tabindex="-1" aria-labelledby="exampleModalLabel" style="background: white" data-bs-backdrop="true" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <button type="button" class="PopupImageModelClose" data-bs-dismiss="modal" aria-label="Close"> <img src="{{ 'close.png' | asset_url }}" alt=""> </button>

            <div class="LoadContentImagePopup">

                <div class="nextSwiper"><i class="fas fa-chevron-right"></i></div>
                <div class="prevSwiper"><i class="fas fa-chevron-left"></i></div>

                <div class="ProductSlider">

                    <div class="swiper ProductImageSwiper">

                        <div class="swiper-wrapper">
                            {% for image in product.images %}

                                <!-- item -->
                                <div class="swiper-slide">

                                    <div class="SliderItem">

                                        <!-- img -->
                                        <div class="swiper-slide">
                                            <img src="{{ image.src | product_img_url: '361x361' }}" alt="Product Image">
                                        </div>
                                    </div>

                                </div>

                            {% endfor %}

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

<script>
    window.onload = combineVariant();

    function combineVariant ()
    {
        let allData = JSON.parse(JSON.stringify($('#AddToCartForm').serializeArray()));

        let items = []
        allData.forEach((item, index)=>{
            items.push(item.value)
        })

        let ItemsJoin = items.join(' / ');

        console.log(ItemsJoin)

        $("#id option:contains('" + ItemsJoin + "')").filter(function(i){
                return $(this).text() == ItemsJoin;
            }).prop("selected","selected")

        // $("#id option:contains(" + ItemsJoin + ")").prop("selected","selected")

        console.log($('#id').val())
    }

    function productPhotoZoom(handle) {
        jQuery.getJSON(window.Shopify.routes.root + 'products/' + handle + '.js', function(product) {
            console.log(product);
            $('#PopupImageModel').modal('show')
        })
    }

    let  slideIndex = 1;

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>
<script type="module">
    import { cartRequestAdd } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}'

    $('.AddToCartButton').on('click', function (e) {
        e.preventDefault();

        cartRequestAdd({
            items: [
                {
                    id: $('#id').val(),
                    quantity: $('#quantity').val()
                }
            ]
        });

    })
</script>