{% comment %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="AddToCart">Add to cart</button>
</form>
<div>{{ product.description }}</div>

{% endcomment %}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<section class="ProductDetails">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="Header">
                    <h6><span>Home /</span> {{ product.title }}</h6>
                </div>

            </div>

        </div>

        <!-- ProductDetailsContent -->
        <div class="ProductDetailsContent">

            <div class="row">

                <!-- img -->
                <div class="col-lg-7">

                    <div class="ProductDetailsImg">

                        <!-- Main -->
                        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper ProductSwiper2">

                            <div class="swiper-wrapper">
                                {% for image in product.images %}
                                    <div class="swiper-slide">
                                        <img src="{{ image.src | img_url: '500x375' }}" alt="{{ image.alt | escape }}"/>
                                    </div>
                                {% endfor %}
                                <!-- img -->

                            </div>

                        </div>

                        <!-- thumbsSlider -->
                        <div thumbsSlider="" class="swiper ProductSwiper">

                            <div class="swiper-wrapper">

                                {% for image in product.images %}
                                    <div class="swiper-slide">
                                        <img src="{{ image.src | img_url: '500x375' }}" alt="{{ image.alt | escape }}"/>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>

                        <!-- text -->
                        <div class="text">

                            <!-- item -->
                            <div class="textItem">
                                {{ product.description }}
                            </div>

                            <!-- item -->
                            {% comment %}<div class="textItem">{% endcomment %}
                                {% comment %}<h5>Size/Fit</h5>{% endcomment %}
                                {% comment %}<p>Sizes displayed 2 and 20.</p>{% endcomment %}
                            {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
                            {% comment %}<!-- item -->{% endcomment %}
                            {% comment %}<div class="textItem">{% endcomment %}
                                {% comment %}<h5>Composition</h5>{% endcomment %}
                                {% comment %}<p>Print - Brushed knit 100% Polyester </p>{% endcomment %}
                            {% comment %}</div>{% endcomment %}

                        </div>


                    </div>

                </div>

                <!-- Content -->
                <div class="col-lg-5">

                    <div class="ModalContent">

                        <h3>{{ product.title }}</h3>
                        {% if product.price_varies %}
                            <h4>{{ product.price_min | money }} - {{ product.price_max | money }}</h4>
                        {% else %}
                            <h4>{{ product.price | money }}</h4>
                        {%endif%}

                        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

                                {% if product.has_only_default_variant != true -%}
                                    {% for option in product.options_with_values -%}
                                    <!-- item -->
                                    <div class="CustomeInput">
                                        {% if option.name != "Color" %}
                                            <label> {{ option.name }}</label>
                                            <select class="{{ option.name }}" name="{{ option.name }}" onchange="combineVariant()">
                                                {% for value in option.values %}
                                                    <option {% if option.selected_value == value %}selected{% endif %} value="{{ value }}">
                                                        {{ value }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <label> {{ option.name }}</label>
                                            <div class="radioInput d_flex">
                                                {% for value in option.values %}
                                                    <input type="radio" value="{{ value }}" {% if option.selected_value == value %}checked{% endif %} style="--main_color2: {{ value }};" class="{{ option.name }}" name="{{ option.name }}" onclick="combineVariant()">
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                {% endif %}

                            <!-- item -->
                            <div class="CustomeInput">

                                <select style="display: none" id="id">
                                    {% for option in product.variants -%}
                                        <option {% if option.selected %}selected{% endif %} value="{{ option.id }}">{{ option.title }}</option>
                                    {% endfor %}
                                </select>

                                <label for="quantity">Quantity</label>
                                <input type="number" id="quantity" value="1" min="1" class="Quantity">

                            </div>

                            <!-- item -->
                            <div class="CustomeInput">
                                <button type="submit" name="add" id="AddToCart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">Add to cart</button>
                            </div>

                            <!-- item -->
                            <div class="CustomeInput">

                                <div class="SocialIcon">

                                    <a href="">
                                        {{ 'whatsapp.png' | asset_url | img_tag }}
                                    </a>
                                    <a href="">
                                        {{ 'facebook.png' | asset_url | img_tag }}
                                    </a>
                                    <a href="">
                                        {{ 'twitter.png' | asset_url | img_tag }}
                                    </a>
                                    <a href="">
                                        {{ 'pinterest.png' | asset_url | img_tag }}
                                    </a>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<script>
    window.onload = combineVariant();

    function combineVariant ()
    {
        let allData = JSON.parse(JSON.stringify($('#AddToCartForm').serializeArray()));

        let items = []
        allData.forEach((item, index)=>{
            items.push(item.value)
        })

        let ItemsJoin = items.join(' / ');

        console.log(ItemsJoin)

        $("#id option:contains('" + ItemsJoin + "')").filter(function(i){
                return $(this).text() == ItemsJoin;
            }).prop("selected","selected")

        // $("#id option:contains(" + ItemsJoin + ")").prop("selected","selected")

        console.log($('#id').val())
    }
</script>
<script type="module">
    import { cartRequestAdd } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}'

    $('#AddToCart').on('click', function (e) {
        e.preventDefault();

        cartRequestAdd({
            items: [
                {
                    id: $('#id').val(),
                    quantity: $('#quantity').val()
                }
            ]
        });

    })
</script>